{% extends 'base.html' %}

{% block main %}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'monitor:index' %}">Monitor</a></li>
      <li class="breadcrumb-item active" aria-current="page">Spy</li>
    </ol>
  </nav>
  <div class="list-group" id="connection-list">
    <a href="#" class="list-group-item list-group-item-action shadow disabled m-2 active" aria-current="true">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">{{connections.count}} connections</h5>
      </div>
    </a>
    {% for connection in connections %}
    <a id="{{connection.id}}" href="{% url 'monitor:spy-connection' pk=connection.id %}" class="list-group-item list-group-item-action shadow m-2">
      <div class="d-flex justify-content-between">
        <h5 class="mb-1">{{connection.devicetype}}</h5>
      </div>
      <small class="text-muted">{{connection.datetime}}</small>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock main %}