<!DOCTYPE html>
<html>
    <head>
        <title>PC Automation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    </head>
    <body>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-center">
                <a class="uk-navbar-item uk-logo" href="/">PC Automation</a>
                <a class="uk-navbar-item" href="/">Softwares</a>
                <a class="uk-navbar-item" href="/monitor">Monitor</a>
                <a class="uk-navbar-item" href="/admin">Admin</a>
            </div>
        </nav>
        {% block main %}{% endblock main %}
        <footer>
            <center id="version"></center>
        </footer>
        <script>
            fetch("/api/version/").then((response)=>response.json()).then((data)=>{
                document.querySelector("#version").innerHTML = data.version
            })
        </script>
    </body>
</html>