{% extends 'base.html' %}
{% block main %}

<div class="uk-container" id="data-container"></div>

<script>

    function renderRelease(release){
        var root = document.querySelector("#data-container")

        var container = document.createElement("div")
        container.classList.add("uk-card")
        container.classList.add("uk-card-default")
        container.classList.add("uk-card-hover")
        container.classList.add("uk-card-body")
        root.appendChild(container)

        var heading = document.createElement("h3")
        heading.classList.add("uk-card-title")
        container.appendChild(heading)

        var body = document.createElement("p")
        container.appendChild(body)

        //Adding content
        heading.innerText = "J11 Lambo"
        body.innerHTML = marked.parse(release.body)

        release.assets.forEach((asset)=>{
            var a = document.createElement("a")
            a.classList.add("uk-button")
            a.classList.add("uk-button-primary")
            a.setAttribute("href",asset.browser_download_url)

            a.innerText = asset.name

            container.appendChild(a)
        })
    }

    function renderError(error){
        console.log(error)
    }

    var softwares = JSON.parse("{{softwares|escapejs}}")
    console.log(softwares)

    fetch("https://api.github.com/repos/fshangala/j11lambo/releases").then(response => response.json()).then((data)=>{
        renderRelease(data[0])
    }).catch((error)=>{
        renderError(error)
    })
</script>

{% endblock main %}